Settings_png            RCDATA  "Images\Settings.png"
Undo_png                RCDATA  "Images\Undo.png"
CurrencyRate_png        RCDATA  "Images\CurrencyRate.png"
YahooFinance_png        RCDATA  "Images\YahooFinance.png"
ZTools_png              RCDATA  "Images\ZTools.png"
MarkRefCells_png        RCDATA  "Images\MarkRefCells.png"
MarkCellRefs_png        RCDATA  "Images\MarkCellRefs.png"
FxStatic_png            RCDATA  "Images\FxStatic.png"
StatusMarker_png        RCDATA  "Images\StatusMarker.png"
