Settings_png            RCDATA  "Images\Settings.png"
Undo_png                RCDATA  "Images\Undo.png"
CurrencyRate_png        RCDATA  "Images\CurrencyRate.png"
Stocks_png              RCDATA  "Images\Stocks.png"
ZTools_png              RCDATA  "Images\ZTools.png"
FxInspector_png         RCDATA  "Images\FxInspector.png"
FxConversion_png        RCDATA  "Images\FxConversion.png"
StatusMarker_png        RCDATA  "Images\StatusMarker.png"
LinkManager_png         RCDATA  "Images\LinkManager.png"
PriceIndex_png          RCDATA  "Images\PriceIndex.png"
SheetHeader_png         RCDATA  "Images\SheetHeader.png"
